@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

body {
  overflow-x: hidden;
  cursor: url('./assets/images/cursor.svg'), auto;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #312b2b #ffffff;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: #312b2b;
  border-radius: 14px;
  border: 1px solid #ffffff;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn {
  @apply py-2 px-4 md:px-5 md:py-2 transition-all shadow-sm duration-200 rounded-3xl;
}

.btn-primary {
  @apply bg-indigo-500 hover:bg-indigo-600 text-white;
}
.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300;
}
.btn-tertiary {
  @apply bg-green-400 hover:bg-green-500;
}
.btn-black {
  @apply bg-black text-white;
}
